body {

    background: #040238;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    background-color: #030771;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

form input {
    background-color: #0000aaa0;
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    flex-basis: 200px;
    flex-grow: 1;
}

form button {
    background-color: #14a;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    flex-grow: 1;
    flex-basis: 30px;
}

img {
    display: flex;
    height: 170px;
    background-color: #14a;
    border-radius: 100%;
    border: #14a;
    position: absolute;
    top: 200px;
    right: center;
}